<div class="continer bg-light col-md-12">
  <h1 class="display-5 fw-bold">Sınava Giriş Sayfası</h1>
  <p>&nbsp;</p>
  <h5>Sınav Bilgileri</h5>
  <p class="col-md-8 fs-4">Bu sınav toplam 10 soru içermektedir. Her Soru 10 Puandır. BAŞARILAR</p>
  <h4>Sınav Açıklaması:</h4>
  <ol>
    <li>Her Doğru Cevap size 10 puan verir</li>
    <li>Her Yanlış Cevap -10 puan verir</li>
    <li style="color: red;">Sınav Bitmeden Çıkış Butonuna Basarsanız Sınav İptal Olur.</li>
    <li>Başarılar</li>
  </ol>
  <h1 style="font-family: cursive;text-align:center">Herşey Gönlünce Olsun!!!!</h1>
  <div class="name col-md-4 my-3">
    <label >İsim Giriniz:</label>
    <input #name type="text" class="form-control">
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <button class="btn btn-primary btn-lg" routerLink="/uye/sorular"  >Sınava Başla!!</button>
</div>
