<!-- <button mat-raised-button color="primary" (click)="AlertGoster(1)">Alert Test Tamam</button>&nbsp;
<button mat-raised-button color="warn" (click)="AlertGoster(2)">Alert Test Hata</button>&nbsp;

<button mat-raised-button color="accent" (click)="ConfirmUygulama()">Confirm Test</button> -->
<link rel="stylesheet" href="home.component.css">
<ul>
<li><a href="admin/anasayfa">Ana Sayfa</a></li>
<li><a [routerLink]="['admin/ogrenciler']" >Öğrenciler</a></li>
<li><a href="admin/dersler">Dersler</a></li>
<li><a href="admin/soruhazirla">Soru Hazırla</a></li>
</ul>
<p>&nbsp;</p><p>&nbsp;</p>



