<link rel="stylesheet" href="admin-anasayfa.component.css">
<ul>
<li><a href="admin/anasayfa">Ana Sayfa</a></li>
<li><a href="admin/ogrenciler" >Öğrenciler</a></li>
<li><a href="admin/dersler">Dersler</a></li>
<li><a href="admin/soruhazirla">Soru Hazırla</a></li>
</ul>
<p>&nbsp;</p><p>&nbsp;</p>
<h1 style="color: rgb(0, 0, 0); position: absolute; left: 40%; top: 40%; margin-left: -40px; margin-top: -40px;">Admin Bölümüne Hoşgeldiniz </h1>
<h2 style="color: rgb(22, 46, 164); position: absolute; left: 50%; top: 50%; margin-left: -50px; margin-top: -50px;">Burada Bir Çok İşlem Gerçekleştirebilirsiniz </h2>

<h2 style="color: rgb(164, 22, 36); position: absolute; left: 60%; top: 60%; margin-left: -60px; margin-top: -60px;">Soru Ekleme - Öğrenci Ekleme - Ders Ekleme gibi işlemler yapabilirsin </h2>

<h1>ONLİNE SINAV PORTALI ********------******* BATUHAN SALKIM</h1>

